{{!< default}}


<div class="row " style="background-color: rgba(11, 35, 16, 0.129);">
    <div  class="col p-3">
        <img id="menu" class="ml-3" style="width: 30px; height: 30px;" src="/img/menu.png" alt="">
    </div>
    <div class="col text-center">
        <h1 class="p-2" style="color: whitesmoke; -webkit-text-stroke: 0.25px black;">Collection</h1>
    </div>
    <div class="col">
        
    </div>
</div>
<div class="mt-5 ml-5 row justify-content-center">
    {{#each collection}}
        <div class="col-4 ">
            <div id="{{@index}}" onclick="selectCrate('{{@index}}')"  style="height: 250px; width: 250px; position: relative">
                <h2 class="text-center" style="font-size: 1.2em; color: whitesmoke; -webkit-text-stroke: 0.25px black; position: absolute; top: 270px; right: 100px;">Album Name</h2>
                <!--<h2 class="text-center" style="font-size: 1.2em; color: whitesmoke; -webkit-text-stroke: 0.25px black; position: absolute; top: 310px; right: 100px;">Bucket name</h2>-->
                <img style="position: absolute; top: 225px; right: 64px;" class=""  src="/img/crate.png" alt="">
                {{#each this}} 
                    <img id="{{name}}"  onclick="bringFront('{{name}}');" style="height: 150px; width: 150px; position: absolute; top: {{pos}}px; right: {{pos}}px; z-index: {{zIndex}};" src="{{img}}" alt="{{name}}">
                {{/each}}   
            </div>
        </div>
    {{/each}}   
</div>


